.signup {
  background-color: rgb(162, 165, 165);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form {
  background-color: rgba(46, 54, 57, 0.88);
  color: #fff;
  width: 45rem;
  min-height: 35rem;
  padding: 2rem 4rem;
  border-radius: 3px;
}
.signup-formConrol {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.signup-form > h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.signup-formConrol {
  margin-bottom: 2rem;
}
.signup-formConrol input {
  display: block;
}
.signup-formConrol input {
  background-color: #eee;
  font-size: 1.5rem;
  padding: 1rem;
  outline: none;
  border: none;
}
.signup-error {
  margin-top: 2rem;
  color: red;
  font-size: 1.5rem;
}

.signup-submitBtn {
  background-color: rgb(56, 142, 170);
  color: white;
  display: block;
  font-size: 1.7rem;
  padding: 1rem 0;
  width: 100%;
  border-radius: 3px;
  margin-top: 3rem;
  cursor: pointer;
}

.signup-info {
  font-size: 1.6rem;
  padding: 1rem 0;
  margin-top: 1rem;
}
.signup-info a {
  color: white;
}
