.chatRoom {
  background-color: rgb(162, 165, 165);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatRoom-container {
  background-color: rgba(46, 54, 57, 0.88);
  width: 90rem;
  height: 50rem;
  overflow: hidden;
  border-radius: 3px;
  display: flex;
}
.chatRoom-aside {
  border-right: 1px solid lightgrey;
  width: 30%;
  overflow-y: scroll;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.chatRoom-aside::-webkit-scrollbar {
  width: 0rem;
}
.chatRoom-aside::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-clip: content-box;
}

.chatRoom-logo {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.chatRoom-logo h1 {
  font-size: 600;
  font-size: 2rem;
}

.chatRoom-room > p {
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: capitalize;
}

.chatRoom-users-container {
  height: 36rem;
  margin-top: 1rem;
}
.chatRoom-users-container h4 {
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  font-weight: 600;
}
.chatRoom-users {
  list-style: none;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}
.chatRoom-users::-webkit-scrollbar {
  width: 0rem;
}
/* .chatRoom-users::-webkit-scrollbar-track {
  background-color: $color-grey-light;
} */
.chatRoom-users::-webkit-scrollbar-thumb {
  /* background-color: $color-grey-dark;
  border: 1px solid $color-grey-light; */
  border-radius: 1rem;
  background-clip: content-box;
}
.chatRoom-users li {
  font-size: 1.5rem;
}
.chatRoom-users li + li {
  margin-top: 0.5rem;
}

.chatRoom-leaveBox {
  margin-top: auto;
  display: flex;
}
.chatRoom-leaveBtn {
  background-color: rgb(56, 142, 170);
  color: white;
  font-size: 1.5rem;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 1rem 2rem;
  width: 100%;
  cursor: pointer;
}

.chatRoom-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chatRoom-messages {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  padding-top: 1rem;
  overflow-y: scroll;
}
.chatRoom-messages::-webkit-scrollbar {
  width: 1rem;
}
.chatRoom-messages::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 1rem;
  background-clip: content-box;
}

.chatRoom-messages article {
  background-color: rgb(92, 110, 117);
  color: #fff;
  width: 80%;
  min-height: 4rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 3px;
}
.chatRoom-messages article + article {
  margin-top: 2rem;
}
.chatRoom-messages article > div {
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
}
.chatRoom-sentMessage {
  margin-left: auto;
}

.chatRoom-form {
  padding: 1rem;
  margin-top: auto;
  display: flex;
  align-items: center;
}
.chatRoom-form input,
button {
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 3px;
}
.chatRoom-form input {
  background-color: #fff;
  width: 100%;
}
.chatRoom-form button {
  width: 15rem;
  margin-left: 1rem;
  cursor: pointer;
  background-color: rgb(56 142 170);
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .chatRoom-container {
    width: 100%;
    height: 100%;
  }
  .chatRoom-aside {
    display: none;
    width: 240px;
  }
  .chatRoom-content {
    width: 100%;
  }
}
